
 <!-- Footer -->
 <footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        Social Networks:</div>
        <a class="social-icon social-facebook"><i class="fa fa-facebook"></i></a>
        <a class="social-icon social-linkedin"><i class="fa fa-linkedin"></i></a>
        <a class="social-icon social-instagram"><i class="fa fa-instagram"></i></a>
        <a class="social-icon social-twitter"><i class="fa fa-twitter"></i></a>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
                <img src="assets/images/LogoB.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-center">
              <i class="fas fa-gem me-3"></i>Betazon
            </h6>
            <p>
              Primo test di WebApp da parte di Anthony Cipriani, partecipante al corso di Full Stack Web Developer .Net.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="https://learn.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver16" class="text-reset">MySQLServer</a>
            </p>
            <p>
              <a href="https://visualstudio.microsoft.com/it/vs/" class="text-reset">Visual Studio 2022</a>
            </p>
            <p>
              <a href="https://code.visualstudio.com/" class="text-reset">Visual Studio Code</a>
            </p>
            <p>
              <a href="https://angular.io/" class="text-reset">Angular</a>
            </p>
            <p>
                <a href="https://getbootstrap.com/" class="text-reset">Bootstrap</a>
              </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Organizzatrice
            </h6>
            <p>
              <a href="https://www.betacom.it/" class="text-reset">Betacom</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="bi bi-geo-alt-fill"></i> Milano Viale Stelvio, 70</p>
            <p>
              <i class="bi bi-envelope-fill"></i>
              Anthony.1496@live.it
            </p>
            <p><i class="bi bi-telephone-fill"></i> +39 340 6869450</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="https://www.betacom.it/">Betazon.it</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
